<br>
<div class="row">
    <div class="col-md-5">

    </div>
    <div class="col-md-2">
        <h2 class="text-center"><b>About Us</b></h2>
    </div>
    <div class="col-md-5">

    </div>
</div>
<br>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Who we are</h2>
                <p>Sed nam ut dolor qui repellendus iusto odit. Possimus inventore eveniet accusamus error amet eius aut accusantium et. Non odit consequatur repudiandae sequi ea odio molestiae. Enim possimus sunt inventore in est ut optio sequi unde.</p>
            </div>
            <div class="col-lg-6">
                <h2>What we are Doing</h2>
                <p>Sed nam ut dolor qui repellendus iusto odit. Possimus inventore eveniet accusamus error amet eius aut accusantium et. Non odit consequatur repudiandae sequi ea odio molestiae. Enim possimus sunt inventore in est ut optio sequi unde.</p>
            </div>

        </div>
    </div>
</section>

<br>

<a [routerLink]="['/contactus']" routerLinkActive="router-link-active">
    <p class="text-center">contactus>></p>
</a>